@import 'framework/variables';
// Merge request diff grid layout modifications for inline code quality diff
// These grid templates build off of their equivalents in app/.../diffs.scss
// to expand the column only when the .with-codequality class is applied
.diff-grid.with-codequality {
  .diff-grid-right {
    grid-template-columns: 50px 8px 20px 1fr;
  }

  .codequality-findings-list {
    margin-left: 50%;

    li {
      border-left: 0;
    }
  }

  &.inline-diff-view {
    .codequality-findings-list {
      margin-left: 6.2rem;

      li {
        border-left: 1px solid $gray-100;
      }
    }

    .diff-grid-left {
      grid-template-columns: 50px 50px 8px 20px 1fr;
    }
  }

  .more-count {
    @include avatar-counter(50%);
    width: $default-icon-size;
    height: $default-icon-size;
  }

  .codequality-severity-icon-container > .codequality-severity-icon,
  .codequality-severity-icon-container > .more-count {
    &:first-child {
      z-index: 100;
    }

    @for $i from 2 through 4 {
      &:nth-child(#{$i}) {
        // moving children behind first element
        z-index: 100 + $i * -1;
        transition: opacity 0.1s, transform 0.2s;
      }
    }
  }

  .codequality-severity-icon-container {
    .first-icon-hovered {
      @for $i from 1 through 4 {
        $x-pos: 10px;

        &:nth-child(#{$i}) {
          opacity: 1;
          transform: translateX((($i * $x-pos) - $x-pos));
        }
      }
    }
  }

  .more-count,
  .codequality-severity-icon {
    filter: drop-shadow(0 1px 0.5px #fff) drop-shadow(1px 0 0.5px #fff) drop-shadow(0 -1px 0.5px #fff) drop-shadow(-1px 0 0.5px #fff);
  }

  .more-count-copy {
    line-height: 0.9rem;
  }
}
